*{
	padding: 0;
	margin: 0;
}
p{
	font-size: 30px
}
.index{
	background: url(http://sun9-33.userapi.com/c847017/v847017277/1f6236/Kbm4HaWz6c4.jpg) no-repeat;
	background-size: 100%;


}
.catalog{
	margin-left: 2em;
}
header, footer{
	background: #75ccea;
	width: 100%;
	height: 50px;
	text-align: center;

}
.srumka{
	text-align: center;
}